<nav id="final_add" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
    <div id="pre_add" class="container">
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button> 
        <div class="collapse navbar-collapse" id="exCollapsingNavbar" style="float: right;">
            <ul id="nav_components" class="nav navbar-nav">
                <!-- <li id="login_list" class="nav-item"><a class="nav-link"style="background-color: RGB(33 37 41); color: RGB(118 122 134); border-color: whitesmoke; cursor: pointer; padding: 5px 10px " id="login">Login</a></li>
                <li id="signup_list" class="nav-item"><a  class="nav-link" style="background-color: RGB(33 37 41); color: RGB(118 122 134); border-color: whitesmoke; cursor: pointer;" id="signup">Signup</a></li>
                <li id="signup_list" class="nav-item"><a href="/"  class="nav-link" style="background-color: RGB(33 37 41); color: RGB(118 122 134); border-color: whitesmoke;" id="home">Home</a></li> -->
                <li id="login_list" class="nav-item"><a class="nav-link"><button style="background-color: transparent; color: RGB(118 122 134); border-color: whitesmoke; border-radius: 4px; border:2px solid white; padding: 6.5px 15px 8px 15px;" id="login">Login</button></a></li>
                <li id="signup_list" class="nav-item"><a  class="nav-link"><button style="background-color: transparent; color: RGB(118 122 134); border-color: whitesmoke; border-radius: 4px; border:2px solid white; padding: 6.5px 15px 8px 15px;" id="signup">Signup</button></a></li>
                <li id="signup_list" class="nav-item"><a href="/"  class="nav-link"><button style="background-color: transparent; color: RGB(118 122 134); border-color: whitesmoke; border-radius: 4px; border:2px solid white; padding: 6.5px 15px 8px 15px;" id="home">Home</button></a></li>
            </ul>
        </div>
    </div>
</nav>