<div style="width: 100%; background-color: RGB(33 37 41); color: rgb(255,255,255); height: 8%; align-items: center; display: flex;">
    <h3 style="margin-left: 2%;">Your Orders</h3>
    <a style="margin-left: 80%;" href="/successbuyerlogin"  class="nav-link"><button style="background-color: transparent; color: RGB(118 122 134); border-color: whitesmoke; border-radius: 4px; border:2px solid white; padding: 6.5px 15px 8px 15px;" id="home">Go Back</button></a>
</div>