<div class="row">
    <div class="col-lg-12">

      <div class="horizontal-timeline">

        <ul class="list-inline items d-flex justify-content-between">
          <li class="list-inline-item items-list">
            <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Ordered</p
              class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">
          </li>
          <li class="list-inline-item items-list">
            <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Shipped</p
              class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">
          </li>
          <li class="list-inline-item items-list">
            <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">On the way
            </p>
          </li>
          <li class="list-inline-item items-list text-end" style="margin-right: 8px;">
            <p style="margin-right: -8px;">Delivered</p>
          </li>
        </ul>

      </div>

    </div>
  </div>