<html>
    <head>

    </head>
    <body>
        <div id="container">
            <div id="ordersummery">

            </div>
            <div id="paymentdetails">

            </div>
        </div>
    </body>
</html>