<html>
    <head>
        <%- include('partials/style') %>
        <link href="/orders/orders.css" rel="stylesheet">
    </head>
    <body>
        <%-include('partials/orderhead')%>
        <div id="container" style="padding: 5%; background-color: white;">
            
        </div>
    </body>
    <script src="/orders/orders.js"></script>
</html>