<html>
    <head>
        <%- include('partials/style') %>
        <link href="/root/root.css" rel="stylesheet" >
    </head>
    <body>
        <div class="container">
            <div class="leftwing">

            </div>
            
            <div class="rightwing">
                <a href="/venderlogin">
                    <button type="button" class="btn btn-primary btn-lg">Vendor</button>
                </a>
                <a href="/buyerlogin">
                    
                    <button id="buyer" type="button" class="btn btn-primary btn-lg">Buyer</button>
                </a>
            </div>
        </div>
    </body>
    <%- include('partials/scripting') %>
    <script src="/root/root.js"></script>
</html> 