*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    height: 100vh;
}

.leftwing{
    height: 100vh;
    width: 70%;
    background-position: center;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1602147259257-f15bf74711ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGFudGlxdWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

.rightwing{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    background-color: beige;
}